<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách danh mục - Gia Linh Shop</title>
    <th:block th:include="admin/fragment/layout :: HEAD"></th:block>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <th:block th:include="admin/fragment/layout :: HEADER"></th:block>
    <div class="app-main">
        <th:block th:include="admin/fragment/layout :: APP-SIDEBAR"></th:block>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span>Danh sách danh mục</span>
                                </h5>
                                <table class="mb-0 table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase">ID</th>
                                        <th class="text-uppercase">Tên</th>
                                        <th class="text-uppercase">Ảnh</th>
                                        <th class="text-uppercase">Thông tin</th>
                                        <th class="text-uppercase">Trạng thái</th>
                                        <th class="text-center text-uppercase">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="category : ${pageCategory}">
                                        <td th:text="${category.id}"></td>
                                        <td th:text="${category.name}"></td>
                                        <td>
                                            <div class="card"
                                                 th:style="'width: 100px; height: 100px; background: url('+ ${category.images} +') no-repeat 50% 50%; background-size: cover'"></div>
                                        </td>
                                        <td th:text="${category.description}"></td>
                                        <td th:switch="${category.status}">
                                            <span th:case="1" class="badge badge-success"> Hoạt động</span>
                                            <span th:case="0" class="badge badge-warning"> Ngưng hoạt động</span>
                                            <span th:case="-1" class="badge badge-danger"> Đã xóa</span>
                                        </td>
                                        <td class="text-center">
                                            <a th:href="@{'/admin/category/' + ${category.id}}" class="mx-2">
                                                <i class="fa fa-edit text-warning" data-toggle="tooltip"
                                                   data-placement="left" title="Sửa"></i>
                                            </a>
                                            <a class="mx-2">
                                                <i class="fa fa-trash text-danger" data-toggle="tooltip"
                                                   data-placement="bottom" title="Xóa"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav class="mt-2" th:if="${pageCategory.totalPages gt 0}">
                                    <ul class="pagination justify-content-center font-weight-bold">
                                        <li class="page-item" th:classappend="${pageCategory.number eq 0} ? 'disabled'">
                                            <a class="page-link"
                                               th:href="@{/admin/category(page=${pageCategory.number lt 2 ? 1 : pageCategory.number})}">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"
                                            th:classappend="${i eq pageCategory.number + 1} ? 'active'"
                                            th:each="i : ${#numbers.sequence( 1, pageCategory.totalPages, 1)}">
                                            <a class="page-link" th:href="@{/admin/category(page = ${i})}"
                                               th:text="${i}"></a>
                                        </li>
                                        <li class="page-item"
                                            th:classappend="${pageCategory.number + 1 eq pageCategory.totalPages} ? 'disabled'">
                                            <a class="page-link"
                                               th:href="@{/admin/category(page = ${pageCategory.number + 2})}">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:include="admin/fragment/layout :: FOOTER"></th:block>
        </div>
    </div>
</div>
<th:block th:include="admin/fragment/layout :: JAVASCRIPT"></th:block>
</body>
</html>
