<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <th:block th:include="user/fragment/layout :: HEAD"></th:block>
</head>

<body>
<th:block th:include="user/fragment/layout :: HEADER(categories=${categories})"> </th:block>

<th:block th:include="user/fragment/layout :: NAVIGATION"> </th:block>
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/}">Trang chủ</a></li>
            <li class="active">Đăng nhập</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form th:action="@{/account/login}" th:method="post" th:object="${account}">
                    <div class="form-group">
                        <label>
                            <div>Email</div>
                        </label>
                        <input type="text" class="form-control" th:field="*{email}">
                    </div>
                    <div class="form-group">
                        <label>
                            <div>Mật khẩu</div>
                        </label>
                        <input type="password" class="form-control" th:field="*{password}">
                    </div>
                    <div class="form-group">
                       <button class="btn btn-success" type="submit">Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<th:block th:include="user/fragment/layout :: FOOTER"> </th:block>
</body>

</html>
